.pg-transfer {
  background-color: #FFF;
  width: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .pg-transfer-table-wrapper {
    flex-grow: 1;
    border: 1px solid #ddd;
  }

  .selector {
    min-width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }

  .pg-table-wrapper.borderless {
    border-bottom: 0;
  }
}

.pg-transfer .pg-table thead tr {
  height: auto;
}

.pg-transfer .pg-table thead th {
  padding: 12px 10px 10px;
}

.pg-transfer .pg-table tbody td {
  padding: 10px 8px;
}

.pg-form-item .pg-transfer .pg-checkbox, 
.pg-form-item .pg-transfer .pg-radio {
  height: auto;
}

